<h1 class='heading center'>Wedding Announcements</h1>

<p>Chris and I are looking forward to seeing you in a few weeks at our wedding!  This week has been the first hint of fall that we have had in New England, so everything looks like it will be perfect for October 13th.  We have a few announcements to make:</p>

<h3 class='title'>Rooms</h3>
<p>The <a href="http://castlemanorinn.com/">Castle Manor Inn</a> still has a few rooms available for the weekend.  If you would like to stay on-site for our wedding, please give them a call and book one of the remaining rooms.  Their number is (978) 515-7386.  If this is something you would like to do, though, we recommend that you do it as soon as you can.  The Inn will open the rooms to the public on Saturday, September 29th, but we would much rather having our friends and family with us!</p>

<h3 class='title'>Sunday Brunch</h3>
<p>Chris and I would like to invite all of our guests who are staying on-site or in the area to join us for brunch on Sunday.  It will be served in the Castle Manor Inn's restaurant, located in the main building.  Brunch will start at 9am, and will feature classic breakfast favorites.  There will also be a cash mimosa bar available, so that we can continue the party from the night before.</p>
<p>If you are interested in joining us for brunch, please RSVP at <%= ENV["GALEN_EMAIL"] %> by Tuesday, October 2rd.  Bonus points if you know why that's an important date!</p>

<h3 class='title'>Website Updates</h3>
<p>The website now has an updated schedule of events for Saturday, <strong>THE MAIN EVENT!</strong>  I will do my best to keep it up to date as we get closer to the event.</p>

<h3 class='title'>We can't wait to see you!</h3>
<h3>Galen and Chris</h3>
