<h1 class='heading'>Bridal Party Announcement</h1>

<p>Thank you for being a part of our wedding!  We are really looking forward to seeing you, and it's coming up quickly.  Hopefully you're getting excited as well - the weekend looks like it will be a lot of fun.</p>

<h3 class='title'>Rehearsal Schedule</h3>
<p>The wedding rehearsal will be at the Castle Manor Inn on Friday afternoon.  It is really important to us that you attend the rehearsal - if your flight won't be in on time, please let us know.  There is no dress code for the rehearsal, although we will likely be taking (unofficial) photos.</p>

<h3 class='title'>Friday Dinner</h3>
<p>After the rehearsal, we will be relocating to our apartment building for dinner.  GPS will take you right to our doorstep:</p>
<p class='center'>Galen and Chris's</p>
<p class='center'>131 McKay St</p>
<p class='center'>Beverly, MA 01915</p>
<br>
<p>Chris's parents, Debbie and Frank, have kindly offered to cook for us.  There will also (of course) be a selection of desserts and delicious drinks.  Significant others are welcome!  If you will be attending, please send an email to <%= ENV["GALEN_EMAIL"] %> so we know how much food to make.</p>

<h3 class='title'>Sunday Brunch</h3>
<p>Hopefully you have received my email about Sunday brunch, but I wanted to make sure you all knew that you were invited! The inn will be serving brunch at 9am on Sunday morning.  All food is complimentary, but there will be a cash mimosa bar.</p>

<h3 class='title'>See you soon!</h3>
<h3 class='title'>Galen and Chris</h3>
