@import 'colors';

// CHANGE HIGHLIGHT COLOR FOR TEXT
::selection {
  background: lighten($light-sangria, 30%); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: lighten($light-sangria, 30%); /* Gecko Browsers */
}

// TEXT
.heading {
  text-align: center;
  font-size: 2em;
  font-family: 'Merienda', cursive;
  color: $sangria;
}

.title {
  font-size: 1.3em;
  font-weight: normal;
  font-family: 'Merienda', cursive;
}

.error {
  font-style: italic;
  color: $brick;
}

.center {
  text-align: center;
}
.date {
  color: $sangria;
}

// INPUTS
textarea {
  width: 80%;
  min-height: 100px;
}

input:focus {
  outline: none;
}

input[type=text], input[type=email], input[type=password], input[type=textarea] {
  background-color: $lighter-nude;
  border: 2px solid $dark-sangria;
  font-size: 1em;
  padding: 5px 10px;
  border-radius: 10px;
}

// BUTTONS
.button, input[type='submit'] {
  background-color: $light-sangria;
  border-radius: 5px;
  margin: 10px;
  padding: 7px 10px 3px 10px;
  border: none;
  font-size: 18px;
  color: $light-nude;
  font-family: 'Karma', serif;
}

.button:hover, input[type='submit']:hover {
  background-color: $sangria;
}

// RSVP SUMMARY
.diet {
  text-align: center;
}

.rsvp-summary {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

// STORY
.story {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.finished-story {
  justify-content: center;
}

.finished-story-text {
  border-radius: 10px;
  background-color: $lighter-nude;
  margin: 10px;
  padding: 10px;
  width: 50%;
  font-size: 0.8em;
}

// Links
a {
  color: $sangria;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  font-size: 1.1em;
}

.fa-arrow-alt-left {
  font-size: 50px;
  color: black;
}

.additional-links-div {
  color: $sangria;
  text-align: right;
  width: 85%;
  margin-top: .5em;
  line-height: 2.3em;

  .link-description {
    margin-right: .7em;
    margin-bottom: 0;
  }
}

// SIGNATURE
.signature {
  text-align: right;
  font-size: 2em;
  font-family: 'Merienda', cursive;
  color: $sangria;
}
.blog {
  line-height: 1.4em;
}

//DUMMY_SITE
.dummy {
  background-color: $dark-sangria;
  color: white;
  font-size: 40px;
  text-align: center;
}

// FORM
.form-div {
  display: flex;
  justify-content: center;
}

form {
  width: 70%;

  .actions {
    text-align: center;
  }
}
