@import 'colors';

// WORDING
.invitation, .reception, .greeting {
  color: $brick;
  font-size: 30px;
  text-align: center;
  font-family: 'Merienda', cursive;
}
.brideandgroom, .greeting {
  font-size: 35px;
  font-weight: bold;
}
.hotel {
  font-size: 40px;
}
.invitation, .reception, .greeting {
  color: $brick;
  font-size: 1.2em;
  text-align: center;
  font-family: 'Merienda', cursive;
}
.brideandgroom, .greeting, .hotel {
  font-size: 1.5em;
  font-weight: bold;
}

// CLICKABLE COMPONENTS on RSVP ENTRY
.check {
  color: $light-sangria;
  margin: 10px;
}

.check:hover {
  color: $sangria;
}
.check-box-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.entry-div {
  margin: .5em;
}
.dietary-div {
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 980px) {
  body{
    .rsvp-div {
      width: 60%;
      margin: auto;
      background: white;
      border-radius: 10px;
      padding: 1.5em;
    }
  }
}

@media screen and (max-width: 640px) {
  body{
    .rsvp-div {
      font-size: .8em;
      width: 100%;
      margin: auto;
      background: white;
      border-radius: 10px;
      padding: .3em;
    }
  }
}
