@import 'colors';

.whereToPage {
  ul {
    list-style-type: none;
    line-height: 1.4em;
  }
  li:before {
    font-family: 'FontAwesome';
    content: '\f06c';
    margin:0 6px 0 0;
    color: $green;
  }
}
